.gameCell {
  width: calc(100% / 3);
  height: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-weight: bold;
}
.gameCell.active {
  cursor: pointer;
}
